body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* // <weight>: Use a value from 200 to 800 */
.newsreader-bold600 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  color: #000000;
}

.newsreader-bold600_fadeEffect {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  display: inline-block;
  animation: fadeEffect 1s infinite alternate; /* Apply animation */
}

@keyframes fadeEffect {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  50% {
    opacity: 1; /* Show dot */
  }
  100% {
    opacity: 0; /* End with opacity 0 */
  }
}
